@model IEnumerable<DASGlobal.Models.Sucursal>

@{
    ViewBag.Title = "VerSucursales";
}

<h2>VerSucursales</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpresaNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pais)
    </td>
    <td>
        @Html.ActionLink("Modificar", "EditSucursal", new { id = item.ID }) |
        @Html.ActionLink("Eliminar", "EliminarSucursal", new { id = item.ID })
    </td>
</tr>
}

</table>
